<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EXAM_QuizApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EXAM_QuizApplication.Properties.Settings>
      <setting name="UsersDataFileName" serializeAs="String">
        <value>Quiz data\\Users.txt</value>
      </setting>
      <setting name="StatDataFileName" serializeAs="String">
        <value>Quiz data\\Statistic.txt</value>
      </setting>
      <setting name="QuizQuestionAmount" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="TopResultAmount" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="QuestionsTextDirectory" serializeAs="String">
        <value>Quiz data\\Questions\\Text</value>
      </setting>
      <setting name="CustomCategoryName" serializeAs="String">
        <value>Custom</value>
      </setting>
      <setting name="TotalQuizScore" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TimeForQuiz_minuts" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="TimeForQuiz_seconds" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="CategoryImagesDirectory" serializeAs="String">
        <value>Quiz data\\Questions\\Images</value>
      </setting>
    </EXAM_QuizApplication.Properties.Settings>
  </userSettings>
</configuration>